body {
  font-family: Arial,Helvetica,san-Serif;
  margin: 0;
}

.nav {
  background-color: black;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  height: 40px;
  width: 100%;
}

.nav-ul {
  list-style-type: none;
  padding: 0;
  margin: 0px 155px;
  overflow: hidden;
  float: right;
}
.nav-ul li {
  display: inline-block;
}
.nav-ul li a {
  display: inline-block;
  color: #fff;
  margin: 10px 20px;
}
.nav-ul li a:hover {
  background-color: #333;
}

.nav-active {
  color: red;
}

#slider {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

#slider figure img {
  width: 20%;
  float: left;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  45% {
    left: 0%;
  }
  50% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}
.caption {
  position: absolute;
  right: 0;
  top: 22%;
  z-index: 5;
}

.sec-row {
  display: flex;
}

.head_name {
  padding: 20px 65px;
}
.head_name::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.abt {
  font-size: 35px;
}

.about-us {
  padding: 20px 65px;
  background: #333;
}

.about-para {
  color: #fff;
}

.img-sec {
  width: 100%;
}

.client-name {
  color: red;
  margin-bottom: 0;
}

.sec1 {
  flex: 1;
  margin: 25px 5px;
}

.client-para {
  font-size: 14px;
  color: #fff;
}

.cli-sec {
  background-image: url("../../images/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
}

.cli-ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  overflow: hidden;
  text-align: center;
  padding-top: 5%;
}
.cli-ul li {
  display: inline-block;
}
.cli-ul li a {
  display: inline-block;
  color: #fff;
  margin: 10px 35px;
}
.cli-ul li a:hover {
  font-weight: 600;
}

.serve-para {
  color: #000;
}

.head_name__inverse {
  padding: 20px 65px;
  background-color: #333;
  color: #fff;
}

.serve {
  padding: 20px 65px;
}

.serve-ul {
  border-bottom: 1px solid #000;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
.serve-ul li {
  display: inline-block;
}
.serve-ul li:active {
  background-color: #333;
}
.serve-ul li a {
  display: inline-block;
  color: #000;
  margin: 10px 30px;
}
.serve-ul li a:active {
  color: #fff;
}

.serve-drop {
  margin-right: 30px;
  flex: 1;
}

.staff-sec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.staff-img {
  width: 100%;
  border: 1px solid #000;
}

.staff-title {
  font-size: 14px;
  vertical-align: top;
  font-weight: 600;
  margin-bottom: 10px;
}

.staff-img__sec {
  width: 30%;
  margin-right: 31px;
}

.staff-des {
  display: flex;
  flex-direction: column;
}

.staff-det {
  font-size: 14px;
}

.progress {
  margin-left: 60px;
  flex: 1;
}

.progressbar {
  background-color: #ccc;
  border-radius: 13px;
  width: 100%;
  height: 20px;
  margin-bottom: 30px;
}

.progressive {
  background-color: #f0a3a3;
  width: 50%;
  float: left;
  -webkit-animation: progressive 2s 1 forwards;
  -moz-animation: progressive 2s 1 forwards;
  -ms-animation: progressive 2s 1 forwards;
  animation: progressive 2s 1 forwards;
  height: 20px;
  border-radius: 10px;
}

.progress-text {
  background: url("http://www.cssdeck.com/uploads/media/items/7/7uo1osj.gif") repeat-x;
  padding: 0px 10px;
  height: 20px;
}

.skill-area {
  margin-top: 40px;
}

.skill-wrap {
  display: flex;
}

.web-skill {
  height: 110px;
  width: 110px;
  background-color: #ccc;
  border-radius: 55px;
  margin: auto;
  margin-bottom: 20px;
}

.skill-icon {
  padding: 15px 20px;
}

.skill-icon1 {
  padding: 22px 20px;
}

.skill-icon2 {
  padding: 15px 38px;
}

.skill-title {
  font-size: 16px;
  font-weight: 600;
}

.skill-area_text {
  text-align: center;
}

.area-wrap {
  margin: 10px;
}

#slider2 {
  overflow: hidden;
  position: relative;
  height: 80vh;
}

#slider2 figure img {
  width: 20%;
  float: left;
}

#slider2 figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

.caption2 {
  position: absolute;
  right: 0;
  top: 22%;
  z-index: 5;
  color: #fff;
}
